.courses {
    width: 100%;
    height: fit-content;
}

.courses .coursesHeader {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #263238;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(301,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(111,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='2.5' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='2.5'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 45%;
} .courses .coursesHeader h1 {
    position: relative;
    top: 1.3em;
    left: 2.5em;
    width: fit-content;
    font-size: 50px;
    font-weight: 500;
    color: #FFF;
} .courses .coursesHeader h2 {
    position: relative;
    top: 1.5em;
    left: 3.3em;
    width: fit-content;
    font-size: 38px;
    font-weight: 200;
    color: #CFCFCF;
} .courses .coursesHeader a {
    position: absolute;
    top: 2em;
    right: 2.5em;
    padding: 0.7em;
    text-decoration: none;
    width: fit-content;
    font-size: 20px;
    border-radius: 3px;
}

.courses .coursesContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} .courses .coursesContent h1 {
    margin-left: 3em;
    margin: 3em;
    width: 27em;
    font-size: 25px;
    font-weight: 200;
} .courses .border {
    margin: 3em;
    margin-left: auto;
    width: 35em;
    height: 25em;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, #18ffff, #304ffe, #f50057, #FF3D00);
} .courses .border img {
    display: block;
    padding: 0.3em;
    width: 100%;
    height: 100%;
    border-radius: 18px;
}