footer {
    width: 100%;
    height: 15em;
    border-top: 1px solid #CCC;
    background-color: #FFF;
} footer div {
    padding: 50px;
    width: 80%;
    margin: auto;
} footer a {
    color: #333;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    margin-right: 25px;
} footer a:hover {
    color: #1976D2;
}