.blogForm {
    position: absolute;
    width: 100%;
    height: 97.5vh;
} .blogForm h3 {
    padding-top: 1.5em;
    text-align: center;
} .blogForm form {
    width: 45%;
    height: 100%;
    margin: auto;
    padding: 0 5em;
    border-bottom: 1px solid #CCC;
    background-color: #FFF;
} .blogForm form #wrap{
    margin: 1.5em auto;
} .blogForm form div label {
    display: block;
    padding-bottom: 3px;
    font-size: 17px;
} .blogForm form div input {
    outline: 1px solid #CCC;
    border: none;
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 7px 15px;
    font-size: 15px;
} .blogForm form div input:hover {
    cursor: pointer;
} .blogForm form div input:focus {
    cursor: text;
    box-shadow: 0px 0px 3px 1px #2196F3;
} .blogForm form div button {
    padding: 7px;
    font-size: 15px;
    border-radius: 3px;
} .blogForm form div #blogFormBack {
    font-size: 15px;
    font-weight: 300;
    width: fit-content;
    border-radius: 3px;
    border: 1px solid #ccc;
    text-decoration: none;
    cursor: pointer;
    color: #1e88e5;
    background-color: #F7F7F7;
} .blogForm form div #blogFormBack:hover {
    background-color: #EEE;
}

/* .blogAuth {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
} .blogAuth div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 35%;
    padding: 0 3em;
    border-radius: 5px;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 3px 0px #d50000;
    background-color: #FFF;
} .blogAuth div h3 {
    font-size: 17px;
    font-weight: 500;
} .blogAuth div h3 a {
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    color: #2196F3;
} .blogAuth div h3 a:hover {
    color: #1976D2;
} */