.coursesExplore {
    position: relative;
    width: 100%;
} .coursesExplore .toggle {
    padding: 0.5em 1em;
    width: fit-content;
    border-radius: 3px;
    border: 1px solid #CCC;
}

.coursesBrowse {
    margin: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 1px;
    background-color: #eee;
} .coursesBrowse .coursesBrowseTitle {
    margin: 0 10em;
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
} .coursesBrowse h1 {
    font-size: 27px;
    font-weight: 600;
    color: #333;
}

.coursesExplore .blogBar ul {
    margin-left: 10em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0.5m;
} .coursesExplore .blogBar ul li {
    list-style: none;
} .coursesExplore .blogBar ul li button {
    outline: 1px solid #90A4AE;
    box-sizing: none;
    padding: 7px 9px;
    font-family: "Poppins";
    font-weight: 300;
    border-radius: 0px;
    border: none;
    background-color: #fff;
    cursor: pointer;
} .coursesExplore .blogBar ul li button:hover {
    background-color: #F5F5F5;
}