.blog {
  width: 45%;
  margin: auto;
  padding: 2em 3em;
  padding-bottom: 1px;
  background-color: #FFF;
}

.blog .blogHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
} .blog .blogBar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2em;
  border-bottom: 1px solid #CCC;
} .blog .blogBar ul li {
  list-style: none;
} .blog .blogBar ul li button {
  outline: 1px solid #90A4AE;
  box-sizing: none;
  padding: 7px 9px;
  font-family: "Poppins";
  font-weight: 300;
  border-radius: 0px;
  border: none;
  background-color: #fff;
  cursor: pointer;
} .blog .blogBar ul li button:hover {
  background-color: #F5F5F5;
} .blog .blogHead #blogForm {
  margin-left: 1em;
  padding: 7px 15px;
  padding-right: 18px;
  width: fit-content;
  border-radius: 3px;
}