header {
    width: 100%;
    height: 55px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #C1C1C1;
    box-shadow: 0px 0px 3px #999;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 56px;
    font-size: 30px;
    font-weight: 600;
} .title a {
    outline: none;
    box-sizing: none;
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    transition: all 0.5s;
} .title a:hover {
    background-color: #111;
} .title a img {
    width: 70%;
    height: 95%;
    margin: auto;
    margin-top: 1px;
}
  
nav {
    display: flex;
    align-items: center;
    min-width: 100px;
    height: 50px;
    margin-right: auto;
    font-size: 20px;
} nav ul {
    display: flex;
} nav ul li {
    position: relative;
    list-style: none;
    margin: 0px 25px;
} nav ul li a {
    color: #333;
    text-decoration: none;
    transition: all 0.2s;
} nav ul li a:hover {
      color: #1976D2;
} #btn-blog {
    text-align: center;
    width: 100px;
    color: #FFF;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 3px;
} #btn-blog:hover {
    color: #FFC107;
}

/* .active {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to bottom right, #18ffff, #304ffe);
}
.activeLink {
color: red;
} */
  
.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    font-size: 20px;
} .search input {
    outline: none;
    box-sizing: none;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 15px;
    height: 40px;
    font-size: 18px;
} .search input:focus {
    box-shadow: 0px 0px 5px #1976D2;
    border-radius: 5px;
} .search button {
    position: absolute;
    right: 30px;
    top: 10px;
    outline: none;
    box-sizing: none;
    border: none;
    width: 35px;
    height: 35px;
    font-size: 20px;
    background-color: #fff;
    cursor: pointer;
}

.btn-user {
    font-size: 37px;
    color: #333;
    transition: all 0.2s;
} .btn-user:hover {
    color: #000 !important;
}

.user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    padding: 0px 15px;
    height: 50px;
} .user button {
    border: none;
    outline: none;
    padding: 5px;
    padding-top: 12px;
    font-size: 25px;
    cursor: pointer;
    background-color: #fff;
} .user button:hover {
    color: #1976D2;
} .user h5 {
    margin-right: 15px;
} .user button img {
    display: inline-block;
    width: 37px;
    border-radius: 25px;
} .user button img:hover {
    box-shadow: 0px 0px 3px 1px #1976D2;
    /* border: 1px solid #d50000; */
} .dropdown {
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    width: 150px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    background-color: #EFEFEF;
} .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
} .dropdown ul li {
    margin: 0px 10px;
} .dropdown ul li a {
    display: block;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
} .dropdown ul li :hover {
    transition: all 0.2s;
    cursor: pointer;
    color: #FFF;
    background-color: #90A4AE;
} .dropdown ul #btn-login {
    margin: 10px;
} .dropdown ul #btn-login a {
    display: block;
    border-radius: 3px;
    color: #FFF;
    padding: 4px 12px;
    background-color: #2196F3;
} .dropdown ul #btn-login a:hover {
    background-color: #1976D2;
} .dropdown ul #btn-logout button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: medium;
    padding: 7px 12px;
    text-align: left;
    color: #FFF;
    background-color: #d32f2f;
} .dropdown ul #btn-logout button:hover {
    background-color: #b71c1c;
}