@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
  width: 10px;
} ::-webkit-scrollbar-track {
  background: #f1f1f1;
} ::-webkit-scrollbar-thumb {
  background: #888;
} ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
} .container {
  max-width: 100%;
} .content {
  width: 100%;
  min-height: 740px;
  background-color: #eee;
}

header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #C1C1C1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-weight: 600;
} .title a {
  outline: none;
  box-sizing: none;
  width: 80%;
  height: 100%;
  margin: auto;
  text-align: center;
  transition: all 0.5s;
} .title a:hover {
  background-color: #111;
} .title a img {
  width: 70%;
  height: 95%;
  margin: auto;
  margin-top: 1px;
}

nav {
  display: flex;
  align-items: center;
  min-width: 100px;
  height: 50px;
  margin-right: auto;
  font-size: 20px;
} nav ul {
  display: flex;
} nav ul li {
  list-style: none;
  margin: 0px 25px;
} nav ul li a {
  color: #333;
  text-decoration: none;
  transition: all 0.2s;
} nav ul li a:hover {
    color: #1976D2;
} #btn-blog:hover {
  color: #FFC107;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  font-size: 20px;
  left: 26px;
} .search input {
  outline: none;
  box-sizing: none;
  border: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 15px;
  height: 50px;
  font-size: 18px;
} .search input:focus {
  box-shadow: 0px 0px 5px #1976D2;
} .search button {
  position: absolute;
  right: 30px;
  top: 10px;
  outline: none;
  box-sizing: none;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 20px;
  background-color: #fff;
  cursor: pointer;
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
} .user button {
  border: none;
  outline: none;
  padding: 5px;
  padding-top: 12px;
  font-size: 25px;
  cursor: pointer;
  background-color: #fff;
} .user button:hover {
  color: #1976D2;
} .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
} .dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
} .dropdown ul li a {
  display: block;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
} .dropdown ul li :hover {
  transition: all 0.2s;
  color: #fff;
  background-color: #1976D2;
  cursor: pointer;
}

footer {
  padding: 50px;
  width: 80%;
  margin: auto;
} footer a {
  color: #555;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  margin-right: 25px;
} footer a:hover {
  color: #1976D2;
}

.btn {
  padding: 5px;
  border: none;
  outline: none;
  width: 75px;
  height: auto;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s;
} .btn-default {
  color: #fff;
  background-color: #3e3e3e;
} .btn-default:hover {
  background-color: #1e1e1e;
} .btn-primary {
  color: #fff;
  background-color: #0288D1;
} .btn-primary:hover {
  background-color: #1565C0;
} .btn-success {
  color: #fff;
  background-color: #388E3C;
} .btn-success:hover {
  background-color: #1B5E20;
} .btn-danger {
  color: #fff;
  background-color: #d32f2f;
} .btn-danger:hover {
  background-color: #b71c1c;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vmax;
  height: 100vmin;
  background-color: #eee;
} .login form {
  padding: 15px;
  width: 350px;
  height: 400px;
  border-radius: 7px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: #fff;
} .login form h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 23px;
} .login form div {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
} .login form label {
  display: inline-block;
  margin-top: 5px;
} .login form input {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 15px;
  padding: 15px;
  width: 100%;
  margin-left: 5px;
  height: 35px;
  cursor: pointer;
  background-color: #eee;
} .login form input:focus {
  box-shadow: 0px 0px 7px 3px #1976d23f;
} .login form .forgotpassword {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #b71c1c;
  text-decoration: none;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vmax;
  height: 100vmin;
  background-color: #eee;
} .signup form {
  padding: 15px;
  width: 450px;
  height: 500px;
  border-radius: 7px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: #fff;
} .signup form h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 23px;
} .signup form div {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
} .signup form div label {
  display: inline-block;
  margin-top: 3px;
  font-size: 25px;
} .signup form div input {
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 15px;
  padding: 15px;
  width: 300px;
  height: 35px;
  margin-left: 5px;
  cursor: pointer;
  background-color: #eee;
} .signup form input:focus {
  box-shadow: 0px 0px 7px 3px #1976d23f;
}

.login-signup {
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
} .login-signup a {
  text-decoration: none;
  color: #1976D2;
}

.home {
  
}

.blog {
  margin: auto;
  padding: 15px;
  width: 50%;
  height: auto;
  /* border-left: 1px solid #C1C1C1;
  border-right: 1px solid #C1C1C1; */
} .blog form {
  margin-top: 15px;
  width: 100%;
} .blog form textarea {
  outline: none;
  box-sizing: none;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  margin: auto;
  width: 100%;
  height: 200px;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  border-radius: 7px 7px 0px 0px;
  border: none;
  cursor: pointer;
} .blog form textarea:focus {
  box-shadow: 0 0px 15px 3px #1976d23f;
  cursor: text;
} .blog form .bar {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  padding: 10px;
  width: 100%;
  height: 50px;
  border-radius: 0px 0px 7px 7px;
  border-top: 1px solid #E1E1E1;
  background-color: #FAFAFA;
} .blog .posts {
  margin-top: 50px;
} .blog .posts .post {
  position: relative;
  padding: 15px;
  border-radius: 0px 7px 0px 0px;
  background-color: #FFF;
  margin: 100px 0px;
} .blog .posts .post .post-bar {
  position: absolute;
  left: 0;
  bottom: -35px;
  padding: 5px 15px;
  width: 100%;
  height: 35px;
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  border-radius: 0px 0px 7px 7px;
  border-top: 1px solid #E1E1E1;
  color: #7A7A7A;
  background-color: #FAFAFA;
} .blog .posts .post .post-author {
  position: absolute;
  left: 0;
  top: -30px;
  padding: 3px 15px;
  width: 80%;
  height: 30px;
  border-radius: 7px 25px 0px 0px;
  border-bottom: 1px solid #E1E1E1;
  background-color: #FAFAFA;
} .blog .posts .post .post-author a {
  display: block;
  width: fit-content;
  color: #1976D2;
  text-decoration: none;
} .blog .sort {
  position: relative;
  top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
} .blog .sort ul {
  display: flex;
  align-items: center;
  justify-content: center;
} .blog .sort ul li {
  list-style: none;
} .blog .sort ul li button {
  outline: 1px solid #90A4AE;
  box-sizing: none;
  padding: 7px 9px;
  font-family: "Poppins";
  font-weight: 300;
  border-radius: 0px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}  .blog .sort ul li button:hover {
  background-color: #F5F5F5;
}

.courses {

}

.jobs {

}