.post {
    padding: 1em 0;
    border-bottom: 1px solid #CCC;
} .post:last-child {
    border-bottom: none;
}

.post .postAuthor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    margin-bottom: 1em;
} .post .postAuthor a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
} 

.post .postBody {
    width: 92%;
    height: fit-content;
    margin-left: auto;
    border: 1px solid #CCC;
    border-radius: 10px;
} .post .postOptions {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    float: right;
    position: absolute;
    right: 1em;
    top: 0.7em;
    opacity: 0.8;
} .post .postOptions:hover {
    opacity: 1;
} .post .postBody h4 {
    padding: 1em;
    margin-bottom: -2em;
    color: #222;
    background-color: #F5F5F5;
} .post .postBody span  {
    display: block;
    width: 100%;
    margin: 1em auto;
    padding: 0 1em;
} .post .postBody img {
    width: 100%;
    height: 300px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: -7px;
    background-color: #F5F5F5;
}

.post .postTags {
    margin-left: auto;
    margin-top: 0.5em;
    padding: 0 0.2em;
    width: 92%;
} .post .postTags p {
    display: inline-block;
    width: fit-content;
    cursor: pointer;
    font-weight: 300;
    color: #3C3C3C;
}  .post .postTags p:hover {
    color: #1565C0;
}

.post .postBar {
    width: 92%;
    margin-left: auto;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
} .post .postBar button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    opacity: 0.8;
} .post .postBar button:hover {
    opacity: 1;
}